.ball-stage {
  flex: 0 0 50%; 
  aspect-ratio: 1 / 1; 
  background: #5daec8;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 28px rgba(24, 185, 214, 0.18);

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 1px 0 18px 24px;
  max-width: 320px; 
  min-width: 180px; 
}
